{% extends 'base.html' %}

  {% block content %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Pesquise um animalzinho" aria-label="Pesquise um animalzinho ..." disabled readonly>
            <input type="text" class="form-control" placeholder="por CEP ou Cidade" aria-label="Pesquise por CEP ou Cidade">
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#avisoCostrucao">Pesquisar</button>
          </div>
      </form>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 g-5">
        <div class="col">
          <div class="card shadow-sm">
            <a href="{{ url_for('list_dogs') }}">
              <img src="static/cachorro.jpg" alt="" class="bd-placeholder-img card-img-top">
              <div class="card-body">
                <p class="card-text text-center">Cachoros para adoção</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href="{{ url_for('list_cats') }}">
              <img src="static/gatinho.jpg" alt="" class="bd-placeholder-img card-img-top">
              <div class="card-body">
                <p class="card-text text-center">Gatos para adoção</p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% endblock %}
