{% extends 'base_admin.html' %}

{% block title %} Admin {% endblock %}

{% block titulo %} Novo Aminalzinho {% endblock %}

{% block content %}
<form class="row g-3 needs-validation" method="POST" action="{{ url_for('register_aminal') }}" enctype = "multipart/form-data" novalidate>
    <div class="col-md-6">
      <label for="amnNomeCompleto" class="form-label">Nome do Aminalzinho</label>
      <input type="text" class="form-control" id="amnNomeCompleto" name="amnNomeCompleto" value="{{ request.form['amnNomeCompleto'] }}">
    </div>
    <div class="col-md-6">
        <label for="amnFoto" class="form-label">Foto</label>
        <input class="form-control" type="file" id="amnFoto" name="file" value="{{ request.form['file'] }}" required>
    </div>
    <div class="col-md-6">
      <label for="amnEspecie" class="form-label">Especie</label>
      <select class="form-select" name="amnEspecie" id="amnEspecie" aria-label="Default select example">
        <option selected>Selecione uma Opção</option>
        <option value="Gato">Gato</option>
        <option value="Cachorro">Cachorro</option>
      </select>
    </div>
    <div class="col-md-6">
        <label for="amnSexo" class="form-label">Sexo</label>
        <select class="form-select" name="amnSexo" id="amnSexo" aria-label="Default select example">
          <option selected>Selecione uma Opção</option>
          <option value="Macho">Macho</option>
          <option value="Femea">Femea</option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="amnIdade" class="form-label">Idade</label>
        <input type="number" class="form-control" id="amnIdade" name="amnIdade" value="{{ request.form['amnIdade'] }}" required>
      </div>
      <div class="col-md-6">
        <label for="amnPorte" class="form-label">Porte</label>
        <select class="form-select" name="amnPorte" id="amnPorte" aria-label="Default select example">
          <option selected>Selecione uma Opção</option>
          <option value="Pequeno">Pequeno</option>
          <option value="Médio">Médio</option>
          <option value="Grande">Grande</option>
        </select>
      </div>
      <div class="col-md-12">
        <label for="amnSobre" class="form-label">Sobre o Aminalzinho</label>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Descreva um pouco mais sobre." id="amnSobre" style="height: 100px" name="amnSobre" value="{{ request.form['amnSobre'] }}"></textarea>
        </div>
      </div>
    <div class="col-md-12 text-center">
        <h4>Onde Mora</h4>
    </div>
    <div class="col-md-2">
        <label for="edrCep" class="form-label">CEP</label>
        <input type="number" class="form-control" id="edrCep" name="edrCep" value="{{ request.form['edrCep'] }}">
      </div>
      <div class="col-md-10">
        <label for="edrRua" class="form-label">Rua</label>
        <input type="text" class="form-control" id="edrRua" name="edrRua" value="{{ request.form['edrRua'] }}">
      </div>
    <div class="col-md-6">
        <label for="edrNumero" class="form-label">Numero</label>
        <input type="number" class="form-control" id="edrNumero" name="edrNumero" value="{{ request.form['edrNumero'] }}">
      </div>
      <div class="col-md-6">
        <label for="edrComplemento" class="form-label">Complemento</label>
        <input type="text" class="form-control" id="edrComplemento" name="edrComplemento" value="{{ request.form['edrComplemento'] }}">
      </div>
      <div class="col-md-5">
        <label for="edrBairro" class="form-label">Bairro</label>
        <input type="text" class="form-control" id="edrBairro" name="edrBairro" value="{{ request.form['edrBairro'] }}">
      </div>
      <div class="col-md-5">
        <label for="edrCidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="edrCidade" name="edrCidade" value="{{ request.form['edrCidade'] }}">
      </div>
      <div class="col-md-2">
        <label for="edrEstado" class="form-label">Estado/UF</label>
        <input type="text" class="form-control" id="edrEstado" name="edrEstado" value="{{ request.form['edrEstado'] }}">
      </div>
      <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-top">
        <div class="col-6 text-center">
          <a href="/admin" class="btn btn-secondary" role="button">Cancelar</a>
        </div>
        <div class="col-6 text-center">
          <button type="submit" class="btn btn-success">Salvar</button>
        </div>
      </div>
  </form>
{% endblock %}